.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin-left: 25%;
    margin-right: 25%;
}

a {
    color: black;
}

.disclaimer {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 2rem;
    color: blue;
}

hr {
    border: none;
    border-top: 2px solid rgba(168, 168, 168, 0.8);
    width: 50%;
    margin-top: 2rem;
}
