.input-email-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    padding: 2rem 0;
}

.input-text-area {
    margin-top: 10px;
    margin-bottom: 10px;
}