.output-subject-lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    padding: 2rem 0;
    height: 200px;
}

.subject {
    margin: 0.5rem;
    padding: 0.3rem;
    background: yellow;
    font-weight: bold;
}

.intro {
    margin: 0.5rem;
    padding: 0.3rem;
    background: yellow;
    font-weight: bold;
}