name: deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to Droplet
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
              # ensure directory exists
              if [ ! -d /var/www/app/.git ]; then
              rm -rf /var/www/app
              mkdir -p /var/www/app
              git clone git@github.com:MFrikken/burningmail24.git /var/www/app
              else
              cd /var/www/app
              git fetch origin
              git reset --hard origin/main
              fi

              cd /var/www/app

              docker build -t app:latest .

              docker stop app || true
              docker rm app || true

              docker run -d --name app app:latest

